.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 50;
}

.modal-dialog {
    position: fixed;
    top: 20vh;
    left: 30vw;
    width: 40vw;
    padding: 60px;
    z-index: 100;
}

.alert-box-actions {
    text-align: right;
}
