<div class="backdrop"></div>
<div class="change-password-box">
    <form [formGroup]="frm" (ngSubmit)="changePassword()">
        <div class="form-group">
            <label for="oldPwd">Old Password</label>
            <input
                class="form-control"
                id="oldPwd"
                formControlName="oldPwd"
                type="password" />
            <div class="alert alert-danger" *ngIf="oldPwd.touched && oldPwd.invalid">
                <div *ngIf="oldPwd.errors.required">Old Password is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="newPwd">New Password</label>
            <input 
                class="form-control"
                id="newPwd"
                formControlName="newPwd" 
                type="password" />
            <div class="alert alert-danger" *ngIf="newPwd.touched && newPwd.invalid">
                <div *ngIf="newPwd.errors.required">New Password is required.</div>
                <div *ngIf="newPwd.errors.minlength">Password should contain 8 characters.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPwd">Confirm Password</label>
            <input 
                class="form-control"
                id="confirmPwd"
                formControlName="confirmPwd" 
                type="password" />
            <div class="alert alert-danger" *ngIf="confirmPwd.touched && confirmPwd.invalid">
                <div *ngIf="confirmPwd.errors.required">Confirm Password is required.</div>
            </div>
            <div class="alert alert-danger" *ngIf="confirmPwd.valid && frm.invalid && frm.errors?.pwdsDontMatch">Passwords do not match.</div>
        </div>
        <div class="text-right">
            <button class="btn btn-success" type="submit" [disabled]="!frm.valid">Submit</button>&nbsp;
            <button class="btn btn-primary" type="button" (click)="onClose()">Close</button>
        </div>
    </form>
</div>

