<!-- <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-2">
            <div class="row">
              <div class="col-sm-12">
                <a style="cursor: pointer;" routerLink="/admin/formula" routerLinkActive="active" class="list-group-item clearfix">
                    <h4 class="list-group-item-heading">Formula</h4>
                </a>
                <a style="cursor: pointer;" routerLink="/admin/agents" routerLinkActive="active" class="list-group-item clearfix">
                  <h4 class="list-group-item-heading">Agents</h4>
                </a>
                <a style="cursor: pointer;" routerLink="/admin/users" routerLinkActive="active" class="list-group-item clearfix">
                  <h4 class="list-group-item-heading">Users</h4>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-10">
            <router-outlet></router-outlet>        
          </div>
        </div>
      </div>
    </div>
</div>
   -->